<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shanwuwu.mapper.UserMapper">

    <select id="findAll" resultType="com.example.shanwuwu.entity.User">
        select * from s_user;
    </select>

    <select id="findUser" parameterType="java.lang.String" resultType="com.example.shanwuwu.entity.User">
        select * from s_user where phone_number = #{phoneNumber};

    </select>

    <select id="login" parameterType="java.lang.String" resultType="com.example.shanwuwu.entity.User">
        select * from s_user where phone_number = #{phoneNumber} and user_password = #{userPassword};

    </select>

    <insert id="register" parameterType="com.example.shanwuwu.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into s_user(id,  user_name,  user_password, phone_number,vip_flag) values
        (uuid(),#{userName}, #{userPassword}, #{phoneNumber},#{vipFlag})
    </insert>

    <update id="updateUser" parameterType="com.example.shanwuwu.entity.User">
        update s_user
        <if test="userPassword!=null and userPassword!=''">
            set user_password = #{userPassword}
        </if>
        <if test="vipFlag!=null and vipFlag!=''">
            set vip_flag = #{vipFlag}
        </if>
        where id = #{id}
    </update>

</mapper>